[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "click-skeleton"
version = "0.1.0"
description = "Click app skeleton"
authors = ["Adrien Pensart"]

[tool.poetry.dependencies]
python = "3.7"
click = "^7.0"
attrdict = "^2.0"
uvloop = "^0.11.3"
coloredlogs = "^10.0"

[tool.poetry.dev-dependencies]
pytest = "^3.8"
pytest-asyncio = "^0.9.0"
click-completion = "^0.5.0"
click-didyoumean = "^0.0.3"
click-repl = "^0.1.5"

[tool.poetry.scripts]
click-skeleton = 'click_skeleton.skel:main'
