[tool.poetry]
name = "click-skeleton"
version = "0.15"
description = "Click app skeleton"
authors = ["Adrien Pensart"]

[tool.poetry.dependencies]
python = ">=3.6,<=3.9"
click-completion = "^0.5.0"
click-didyoumean = "^0.0.3"
click-option-group = "^0.5.1"
click-aliases = "^1.0.1"
pytest = "^6.0.1"
colorama = "^0.4.3"
pytest-click = "^1.0.2"
semver = "^2.10.2"
requests = "^2.24.0"
munch = "^2.5.0"
click-help-colors = "^0.9"
types-requests = "^2.25.0"
click = "^8.0.1"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.10.1"
pylint = "^2.6.0"
coverage-badge = "^1.0.1"
flake8 = "^3.8.3"
restructuredtext-lint = "^1.3.2"
poetry2setup = "^1.0.0"
mypy = "^0.910"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov-report term-missing:skip-covered --cov-report html --durations=0 --cov click_skeleton -s"

[tool.pylint.master]
jobs = 4
[tool.pylint.messages_control]
disable = """
disable=too-many-instance-attributes,too-few-public-methods,logging-format-interpolation,line-too-long,too-many-arguments,protected-access,too-many-public-methods,too-many-instance-attributes,duplicate-code,too-many-nested-blocks,too-many-branches,too-many-return-statements,too-many-statements,too-many-locals,too-few-public-methods,too-many-ancestors,import-outside-toplevel,c-extension-no-member,logging-fstring-interpolation
"""
