click==7.*,>=7.1.2
click-aliases==1.*,>=1.0.1
click-completion==0.*,>=0.5.0
click-didyoumean==0.*,>=0.0.3
click-help-colors==0.*,>=0.8.0
click-option-group==0.*,>=0.5.1
colorama==0.*,>=0.4.3
munch==2.*,>=2.5.0
pytest==6.*,>=6.0.1
pytest-click==1.*,>=1.0.2
requests==2.*,>=2.24.0
semver==2.*,>=2.10.2
